/* ------------------  ESTILOS GENERALES --------------------- */

* {
    font-family: 'Roboto', sans-serif;

}

/* ------------------  SECCION PRINCIPAL --------------------- */

.top-services {
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 214px 0 92px 0;
    z-index: 0;
}

.top-services::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    opacity: .5;
    z-index: -1;
    content: '';
}

*,
::after,
::before {
    box-sizing: border-box;
}

.top-services-bg {
    background-image: url('../img/top-services-bg.jpg');
}

.top-services h3 {
    font-size: 78px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
}

.text-col {
    margin-bottom: 73px;
}

.text-col span {
    color: #615cfd;
    font-size: 14px;
    z-index: 3;
    font-weight: 500;
    margin-bottom: 19px;
    display: block;

}

.text-col h3 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    color: #1f1f1f;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;
}

/* ------------------  SECCION DE SERVICIOS --------------------- */

.services-section {
    padding-top: 155px;
    padding-bottom: 130px;
}

.service-card {
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 48px 35px 45px 35px;
    transition: .3s;
}

.service-card:hover {
    border: 2px solid #2f2bf7;
    border-radius: 4px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.service-card h3 {
    font-size: 24px;
    font-weight: 400;
    color: #1f1f1f;
    margin-bottom: 13px;
}

.service-card p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.icon {
    margin-bottom: 29px;
}


/* ------------------  SECCION DE COMO TRABAJAMOS --------------------- */



.how-work {
    position: relative;
}

.how-work .work-info {
    padding: 180px 0;
}

.how-work .container {
    max-width: 90%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .how-work .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .how-work .container {
        max-width: 720px;
    }

    .how-work::before {
        position: absolute;
        content: '';
        background-image: none;
    }
}

@media (min-width: 992px) {
    .how-work .container {
        max-width: 960px;
    }

    .how-work::before {
        position: absolute;
        content: '';
        width: 50%;
        right: 0;
        top: 0;
        height: 100%;
        background-image: url('../img/work.jpg');
        background-size: cover;
        background-position: center center;
        -webkit-border-radius: 20px 0 0 20px;
        -moz-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px;
    }
}

@media (min-width: 1200px) {
    .how-work .container {
        max-width: 1140px;
    }
}


.section-title h3 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    color: #1f1f1f;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;
}

.section-title p {
    font-size: 16px;
    color: #727272;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 400;
}

.how-work .work-info .section-title .mid_text {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
    margin-bottom: 25px;
}

.how-work .work-info .section-title .last_p {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

/* ------------------  SECCION SLIDER --------------------- */

.quotes-section {
    margin-top: 160px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center center;
}

/* 
.carousel-inner::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: -1;
    content: '';
    background: #1f1f1f;
    opacity: .6;
}


 */

/* .carousel-inner {
    background: #000000;
    opacity: .9;
    z-index: -1;
    content: '';
} */