.top-services {
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 214px 0 92px 0;
    z-index: 0;
}

.top-services::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    opacity: .5;
    z-index: -1;
    content: '';
}

::before {
    box-sizing: border-box;
}

.top-services-bg {
    background-image: url('../img/top-services-bg.jpg');
}

.top-services h3 {
    font-size: 78px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.text-col h6 {
    color: #615cfd;
    font-size: 14px;
    z-index: 3;
    font-weight: 500;
    margin-bottom: 19px;
    display: block;
    font-family: 'Roboto', sans-serif;

}

.text-col h4 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    color: #1f1f1f;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;
}

.services-section {
    padding-top: 155px;
    padding-bottom: 130px;
}

.cards {
    display: flex;
}