---
import Container from "../shared/Container.astro";
---
<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 py-8">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    Desarrollo Austral &copy; <span id="year">2024</span> 
                </div>
                <div class="flex gap-2">
                    made by <a href="#" target="_blank" class="font-semibold">
                        <div class="relative overflow-hidden flex">
                            <svg
                                id="Capa_2"
                                data-name="Capa 2"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 312.32 366.36"
                                width="16"
                                height="16"
                                class="w-5 h-5 pt-1"
                            >
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #00adef;
                                        }

                                        .cls-2 {
                                            fill: #2d292a;
                                        }
                                    </style>
                                </defs>
                                <g id="Capa_1-2" data-name="Capa 1">
                                    <g>
                                        <polygon
                                            class="cls-1"
                                            points="179.32 0 179.83 0 236.46 0 239.57 .17 242.18 1.36 245.28 3.56 248.47 6.26 250.51 8.79 252.7 13.58 253.4 16.44 255.07 23.1 255.78 25.88 256.84 30.64 257.9 37 312.32 366.2 261.74 366.19 260.41 357.6 259.22 351.29 223.49 111.64 218.99 87.38 217.93 82.97 216.96 83.32 216.6 86.76 170.68 366.18 121.32 366.19 179.32 0"
                                        ></polygon>
                                        <path
                                            class="cls-2"
                                            d="m121.32,366.19l-111.2.18-3.86-1.94-2.89-2.85-1.06-1.46-1.24-2.18-.84-2.07-.22-.55v-2.89l-.02-342.43.42-.89.61-1.4,1.2-2.25,1.36-2.1,1.43-1.72,1-.65,1.53-.69,1.01-.29h170.75l-58,366.19ZM54.4,48.98h-2.12l-2.12,1.59-2.12,2.82-1.94,2.47-1.06,3.71v249.35l.88,2.12,1.76,2.65,2.12,1.76,2.29,1.94h32.12L129.57,48.98H54.4Z"
                                        ></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </Container>
</footer>