---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href: "#",
        text: "Inicio",
    },
    {
        href: "#services",
        text: "Clientes",
    },
    {
        href: "#brands",
        text: "Nosotros",
    },
    {
        href: "#proceso",
        text: "Proceso",
    },
];
---

<header class="fixed inset-x-0 top-0 z-50 py-3 backdrop-blur-lg bg-gradient-to-b from-transparent to-transparent">
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <div class="relative w-8 h-8 overflow-hidden flex">
                            <svg
                                id="Capa_2"
                                data-name="Capa 2"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 312.32 366.36"
                                >
                                <g id="Capa_1-2" data-name="Capa 1">
                                    <g>
                                        <polygon
                                            fill="#00adef"
                                            stroke="#00adef"
                                            class="cls-1"
                                            points="179.32 0 179.83 0 236.46 0 239.57 .17 242.18 1.36 245.28 3.56 248.47 6.26 250.51 8.79 252.7 13.58 253.4 16.44 255.07 23.1 255.78 25.88 256.84 30.64 257.9 37 312.32 366.2 261.74 366.19 260.41 357.6 259.22 351.29 223.49 111.64 218.99 87.38 217.93 82.97 216.96 83.32 216.6 86.76 170.68 366.18 121.32 366.19 179.32 0"
                                        ></polygon>
                                        <path
                                            fill="currentColor"
                                            stroke="currentColor"
                                            class="cls-2"
                                            d="m121.32,366.19l-111.2.18-3.86-1.94-2.89-2.85-1.06-1.46-1.24-2.18-.84-2.07-.22-.55v-2.89l-.02-342.43.42-.89.61-1.4,1.2-2.25,1.36-2.1,1.43-1.72,1-.65,1.53-.69,1.01-.29h170.75l-58,366.19ZM54.4,48.98h-2.12l-2.12,1.59-2.12,2.82-1.94,2.47-1.06,3.71v249.35l.88,2.12,1.76,2.65,2.12,1.76,2.29,1.94h32.12L129.57,48.98H54.4Z"
                                        ></path>
                                    </g>
                                </g>
                            </svg>
                    </div>
                </a>
            </div>

            <div
                data-nav-overlay
                aria-hidden="true"
                class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
            >
            </div>
            <div
                data-navbar
                class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0"
            >
                <ul
                    class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-8 text-lg text-heading-2 w-full lg:justify-center lg:items-center"
                >
                    {
                        navItems.map((item) => {
                            return <Navitem {...item} />;
                        })
                    }
                </ul>
            </div>

            <div class="min-w-max flex items-center gap-x-3">
                <button
                    data-switch-theme
                    class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 dark:flex hidden hover:text-sky-400 duration-300 ease-linear"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
                        ></path>
                    </svg>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 dark:hidden hover:text-yellow-500 duration-300 ease-linear"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                        ></path>
                    </svg>

                    <span class="sr-only">switch theme</span>
                </button>

                <button
                    data-toggle-nav
                    data-open-nav="false"
                    class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
                >
                    <span
                        id="line1"
                        class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"
                    ></span>
                    <span
                        id="line2"
                        class="w-6 origin-center mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"
                    ></span>
                    <span
                        id="line3"
                        class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"
                    ></span>
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </Container>
</header>
